body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.login-container, .dashboard-container {
    width: 300px;
    margin: 150px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px #aaa;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}