body {
  font-family: Arial;
  background: #0e1117;
  color: white;
  padding: 40px;
}

.box, .panel {
  background: #161b22;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
}

input {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
}

button {
  padding: 10px;
  background: #238636;
  border: none;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #30363d;
  padding: 10px;
}

.logout {
  margin-top: 30px;
  background: #da3633;
}