body {
  font-family: Arial, sans-serif;
  background: #111;
  color: #eee;
  padding: 20px;
  text-align: center;
}

input, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

pre {
  background: #222;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
}

section {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
  background: #1a1a1a;
}